body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    background-image: url("wallpaper.jpg");
background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  h1 {
    margin-top: 0;
    text-align: center;
  }
  
  form {
    display: flex;
  }
  
  form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
  }
  
  form button {
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #45a049;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  li.completed {
    text-decoration: line-through;
    color: #999;
  }
  
  li button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  li button.edit {
    color: #ffc107;
  }
  
  li button.delete {
    color: #f44336;
  }
  
  li button.complete {
    color: #4CAF50;
  }
  